
h1,h2,h3{
    padding-left: 20px;
}

h1,h2{
color: #8b6bc8;
}

.td{
color: #8b6bc8;
}

h2 + ul li::marker, h2 + ol li::marker{
color: #8b6bc8;
}

h3{
color: #2494ad;
}

h3 +ul li::marker{
color: #2494ad;
}

ul li, ol li {
padding-bottom: 10px;
}

ol li::marker {
font-weight: bold;
}

p{
    padding-left:20px ;
}

body{
    font-family: 'Young Serif',serif;
    background-color:lavender ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh; /*full vieport height*/
    overflow: auto; /*allows page scrolling if content overflows*/
}

.internal-round-cont {
    border-radius: 15px;
    background-color: #b8e8f3;
    padding: 10px;
    box-sizing: border-box; /*includes padding in total width and height*/
}

.rounded-container {
    width: 100%;
    max-width: 700px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto; /*adds margin to create space above and below*/ 
    /* overflow: auto;  allows for srolling within the container */
}

.image-size {
    border-radius: 15px;
    max-width: 100%; /* ensure the image fits within the container width*/ 
    height: auto; /* maintains aspect ratio */
    display: block; /* removes extra space below the image*/
    margin: 0 auto; /*centers the image if needed*/
}

table{
    width: 100%;
    border-collapse: collapse;
}

td{
    border-bottom: 1px solid #d7dadb;
    padding: 10px 20px;
    vertical-align: middle;
    text-align: left;
}

@media (min-width:768px) {
    .rounded-container {
        width:700px; /*fixed width for larger screens*/
        max-width: 90%;
    }
}
